[Desktop Entry]
Name=MiniNote
Comment=MiniNote cross-platform notes app powered by Flutter + Rust
Exec=mininote-wrapper %U
Icon=assets/icons/mininotes.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-XMir-Enable=true
X-Ubuntu-Supported-Orientations=primary-portrait;portrait-inverted;landscape-primary;landscape-secondary
